{
  "extends": "segment/node",
  "ecmaFeatures": {
    "templateStrings": true,
    "arrowFunctions": true,
    "destructuring": true,
    "blockBindings": true,
    "generators": true,
    "spread": true,
    "experimentalObjectRestSpread": true
  }
}
